/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Estilização geral*/

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	background: linear-gradient(80deg, #2d1f77, #6b00b6, #ff00cc)
}

/*Sobre a cor da escrita*/

h1 {
	color: #ffff;
}

div span {
	color: aliceblue;
}

/*Container do mapa*/

#map-container {
	position: relative;
	width: 90%;
	max-width: 100px;
	margin: 200px auto; 
	border: 2px solid #002e6e;
	border-radius: 10px;
	overflow: hidden;
}

/*Sobre a imagem do mapa*/

#map {
	width: 100%;
	height: auto;
	display: block;
	transform-origin: center center;
	transition: transform 0.2s ease-in-out;
}

/*Sobre os PINS*/

.pin {
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: solid blue;
	border-radius: 50%;
	cursor: pointer;
	transform: translate(-50%, -50%);
	border: 2px linear-gradient(80deg, #2d1f77, #6b00b6, #ff00cc)
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.pin:hover {
	background-color: red;
}

/*Quadro de apresentação das impressoras adicionadas*/

.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height:100%;
	background-color: aliceblue;
}

.modal-content {
	background: aliceblue;
	margin: 10% auto;
	padding: 20px;
	border-radius: 10px;
	width: 300px;
	text-align: left;
	box-shadow: 0 0 15px rgba(0,0,0,0.5)
}

.modal-content img {
	max-width: 100%;
	border-radius: 5px;
	margin-bottom: 10px;
}